:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	--max-width: 1200px;
	--extra-width: calc(100% - var(--max-width));
	--full-bleed: calc(var(--extra-width) / 2);
}
